#header-bans {
  color: rgba(255, 255, 255, 1);
  font-size: 7em;
}

#header-bans-symbol {
  color: rgba(255, 99, 10, 1);
  font-size: 5em;
}

tr {
  font-weight: lighter;
}

td.btn {
  font-weight: normal;
}

.btn {
    text-transform: none;
}
