h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.alert {
  background-color: darkgrey;
  width: 100%;
  height: 50px;
}

.another-class {
  border: 3px solid black;
}
