@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,500,700');

body {
  background: url("assets/img/background.jpg");
  background-repeat: repeat;
  font-family: 'Raleway', sans-serif;
  background-color: #ddd;
}

body, html {
  margin: 0;
  height: 100%;
  color: #fff;
}
